@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title o Controle de Estoque</h2>

<div id="sobre">
    <td>
        O controle de estoque foi desenvolvido para ajudar a gerenciar o estque de uma farmácia.
    </td>
</div>
